@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

:root {
    --LineColor: #B50717;
    --BoxColor: #141414;
    --TextColor: #BFBFBF;
}

.logo {
    display: flex;
    width: 200px;
    height: 200px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-self: center;
    animation: rotation 8s infinite linear;
}

.main-hook {
    font-family: 'Teko', sans-serif;
    border: 2px solid var(--LineColor);
    border-radius: 10px;
    padding: 10px;
}

.hook-text {
    font-family: 'Teko', sans-serif;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
}

.sub-header {
    display: flex;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 40px;
    margin-left: 20%;
    margin-right: 20%;
}

.advantages-list {
    font-family: 'Teko', sans-serif;
    padding: 10px;
    padding-left: 25px;
    border: 2px solid var(--LineColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    list-style: square;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

.list-element {
    font-size: 22px;
    margin: 2px;
}

.car {
  align-self: center;
  width: 500px;
  height: 228px;
  border: 2px solid var(--LineColor);
  border-radius: 10px;
  margin-left: 10%;
  margin-right: 10%;
}

@media only screen and (max-width: 640px)
{
    .hook-text {
        font-size: 30px;
    }

    .sub-header {
        font-size: 40px;
        margin-left: 20%;
        margin-right: 20%;
    }

    .advantages-list {
        font-size: 25px;
    }

    .list-element {
        font-size: 25px;
    }
}