.flex-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 154px);
    background: radial-gradient(#1F1F1F, #000000);
    color: var(--TextColor);
}

.logo {
    display: flex;
    flex: 1 1 1;
    width: 200px;
    height: 200px;
    margin-top: 5vh;
    margin-bottom: 10%;
    align-self: center;
}

.flex-body {
    justify-content: center;
}