@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  :root {
    --LineColor: #B50717;
    --BoxColor: #141414;
    --TextColor: #BFBFBF;
}

.logo {
    display: flex;
    flex: 1 1 1;
    width: 200px;
    height: 200px;
    padding-top: 5vh;
    padding-bottom: 5vh;
    align-self: center;
    animation: rotation 8s infinite linear;
}

.hook-text {
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 25px;
    flex: 1 1 1;
}

.sub-header {
    display: flex;
    flex: 1 1 1;
    font-family: 'Stick No Bills', sans-serif;
    font-size: 40px;
    margin-left: 20%;
    margin-right: 20%;
}

.advantages-list {
    padding: 10px;
    padding-left: 25px;
    border: 2px solid var(--LineColor);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    list-style: square;
    flex: 1 1 1;
    margin-left: 20%;
    margin-right: 20%;
    font-size: 20px;
}

.list-element {
    margin: 2px;
}