.maintainence-images {
    display: flex;
    margin-left: 10%;
    margin-right: 10%;   
    flex: 1 1 1;
}

.maintainence-image{
    display: flex;
    max-width: 50%;
    max-height: 50%;
    flex: 1 1 1;
}