:root {
    --LineColor: #B50717;
    --BoxColor: #141414;
    --TextColor: #BFBFBF;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

form {
    display: flex;
    flex-direction: column;
}

.flex-body {
    height: 100%;
}

.price-calculator-box {
    display: flex;
    font-size: 50px;
    display:flex;
    flex-direction: column;
    background-color: var(--BoxColor);
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 2px solid var(--LineColor);
}

.main-paragraph {
    font-family: 'Teko', sans-serif;
    border: 2px solid var(--LineColor);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px;
    margin-left: 20%;
    margin-right: 20%;
}

.number {
    display: flex;
    font-size: 50px;
    color: var(--TextColor);
    border: none;
    background-color: var(--BoxColor);
    background-color: var(--BoxColor);
}
