:root {
    --LineColor: #B50717;
    --BoxColor: #141414;
    --TextColor: #BFBFBF;
}

body {
    background-color: #000000;
    padding: 0;
    margin: 0;
}

.flex-master {
    display: flex;
    flex-direction: column;
}

.flex-header-button {
    display: flex;
    font-size: 20px;
    margin: 10px;
    text-decoration: none;
    align-items: center;
    justify-content: center;
    color: var(--TextColor);
    background-color: var(--BoxColor);
    border: 1px solid var(--LineColor);
    padding: 5px;
    margin: 5px;
}

.flex-header {
    display: flex;
    width: 100%;
    height: 100px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--BoxColor);
    border-bottom: 2px solid var(--LineColor);
    font-family: 'Stick No Bills', sans-serif;
}

.flex-body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: radial-gradient(#1F1F1F, #000000);
    color: var(--TextColor);
}

.flex-footer {
    display: flex;
    width: 100%;
    height: 50px;
    background-color: var(--BoxColor);
    color: var(--TextColor);
    border-top: 2px solid var(--LineColor);
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
}

.page-header {
    font-family: 'Stick No Bills', sans-serif;
    padding-left: 5%; 
    padding-right: 5%;
    font-size: 50px;
    align-self: center;
}

.paragraph {
    font-family: 'Teko', sans-serif;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 20px;
}


@media only screen and (max-width: 640px)
{
    .flex-header-button {
        font-size: 25px;
        padding: 15px;
        margin: 15px;
    }
    
    .flex-header {
        height: 200px;
    }

    .paragraph {
        font-size: 25px;
    }
}